.logo{
    cursor: pointer;
}
#titleimg1{
   height: 150px;
}


#headimg1{
    width: 110px;
    height: 150px;
    
}
#headimg2{
    width:500px;
    height: 150px;
    margin-left: 400px;
}
#bar{
    WIDTH:100%;
    height: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: 20;
}
ul{
    width:500px;
    display: flex;
    color: black;
    justify-content: space-between;
}

ul li{
    display: inline;
    text-decoration: none;
    color: black;
    background-color: #EDEDED;
    
}

a{
    text-decoration: none;
    padding:15px;
    text-align: center;
}
.nav_links ul li{
    
    list-style: none;
}
.nav_links ul li{
    transition: all 0.3s ease 0s;
    
}
.nav_links li:hover{
    transition: all 0.5s ease 0.5s;
   text-decoration: underline;
}
.drop-menu{
    display: none;
    position: relative;
}
.nav_links li:hover .drop-menu{
    display: inline-block;
    position:absolute;
       
}
.nav_links li:hover .drop-menu ul{
    display: block;
    margin: 5px;
    padding: 10px;
}
.placement{
    padding-top: 5px;
}


.sotta{
    display: flex;
    flex-direction: column;
}

.sotta p{
   width:50%;
}

#dpt{
    color: grey;
    position: center;
    margin: 0px 300px;
    align-items: center;
}
#imgg{
    padding-bottom: 30px;
    padding-top: 350px;
    margin: 30px 40px;
}